
/* 

Brand blues ~ https://rydmike.com/flexcolorscheme/themesplayground-latest/


# Surface Container について

https://material.io/blog/tone-based-surface-color-m3

*/

:root {

  --style-palette-primary: #3B5998;
  --style-palette-on-primary: #fff;
  --style-palette-primary-container: #A8CAE6;
  --style-palette-on-primary-container: #000;

  --style-palette-secondary: #55ACEE;
  --style-palette-on-secondary: #000;
  --style-palette-secondary-container: #CBE5FF;
  --style-palette-on-secondary-container: #000;
  
  --style-palette-tertiary: #4285F4;
  --style-palette-on-tertiary: #fff;
  --style-palette-tertiary-container: #D6E2FF;
  --style-palette-on-tertiary-container: #000;
  
  --style-palette-error: #B00020;
  --style-palette-on-error: #fff;
  --style-palette-error-container: #FCD9DF;
  --style-palette-on-error-container: #000;
  
  --style-palette-surface: #FCFCFC;
  --style-palette-on-surface: #111111;

  --style-palette-surface-dim: #E0E0E0; /* dim <> bright */
  --style-palette-surface-bright: #FCFCFC; /* = surface */
  --style-palette-surface-container-lowest: #fff; /* always white */
  --style-palette-surface-container-low: #F8F8F8;
  --style-palette-surface-container: #F3F3F3;
  --style-palette-surface-container-high: #EDEDED;
  --style-palette-surface-container-highest: #E7E7E7;
  --style-palette-on-surface-variant: #393939;

  --style-palette-outline: #919191;
  --style-palette-outline-variant: #D1D1D1;

  --style-palette-inverse-surface: #2A2A2A;
  --style-palette-inverse-on-surface: #F1F1F1;
  --style-palette-inverse-primary: #D3E1FF;

  /* fixed は light, dark 共通 */
  --style-palette-primary-fixed: #D1DAEC; 
  --style-palette-primary-fixed-dim: #A9B7D7; /* dim <> bright */
  --style-palette-on-primary-fixed: #162239;
  --style-palette-on-primary-fixed-variant: #1B2947;
  --style-palette-secondary-fixed: #B7D5EC;
  --style-palette-secondary-fixed-dim: #90BFE3;
  --style-palette-on-secondary-fixed: #02070C;
  --style-palette-on-secondary-fixed-variant: #052238;
  --style-palette-tertiary-fixed: #DCE6F6;
  --style-palette-tertiary-fixed-dim: #B4C9EB;
  --style-palette-on-tertiary-fixed: #083A8D;
  --style-palette-on-tertiary-fixed-variant: #09419D;

  /*
    scrim は opacity 32%
    see https://m3.material.io/styles/elevation/applying-elevation#92b9fb39-f0c4-4829-8e4d-97ac512976aa
  */

}


:root[data-color-scheme="dark"] {

  color-scheme: dark;

  --style-palette-primary: #8B9DC3;
  --style-palette-on-primary: #fff;
  --style-palette-primary-container: #3B5998;
  --style-palette-on-primary-container: #fff;

  --style-palette-secondary: #A0D1F5;
  --style-palette-on-secondary: #000;
  --style-palette-secondary-container: #004B75;
  --style-palette-on-secondary-container: #fff;

  --style-palette-tertiary: #88B2F8;
  --style-palette-on-tertiary: #000;
  --style-palette-tertiary-container: #004397;
  --style-palette-on-tertiary-container: #fff;
  
  --style-palette-error: #CF6679;
  --style-palette-on-error: #000;
  --style-palette-error-container: #B1384E;
  --style-palette-on-error-container: #fff;
  
  --style-palette-surface: #23272F; /* from React Main Site. Default #080808 */
  --style-palette-on-surface: #F1F1F1;

  --style-palette-surface-dim: #23272F; /* = surface */
  --style-palette-surface-bright: #2C2C2C; /* dim <> bright */
  --style-palette-surface-container-lowest: #010101;
  --style-palette-surface-container-low: #0E0E0E;
  --style-palette-surface-container: #151515;
  --style-palette-surface-container-high: #1D1D1D;
  --style-palette-surface-container-highest: #282828;
  --style-palette-on-surface-variant: #CACACA;

  --style-palette-outline: #777777;
  --style-palette-outline-variant: #414141;

  --style-palette-inverse-surface: #E8E8E8;
  --style-palette-inverse-on-surface: #2A2A2A;
  --style-palette-inverse-primary: #424958;
}
