:root {
  --color: #22b8cf;
  --color-lighten-5: #2ec5dd;
}

.foo { 
  @media (100px <= width < 480px) {
    color: var(--color);
  }
}

.foo2 { 
  color: color-mix(in oklab, var(--color), white 5%); /* lighten(@color, 5); */
}

.foo3 { 
  color: color-mix(in oklab, #22b8cf, white 5%);
}
